<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' type='text/css'>
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <a class="brand" href="/">Songs</a>
        <ul class="nav">
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
